/*Accommodate ultrawide aspect ratios - 10.11 compatible*/
@media (min-aspect-ratio: 1.98/1) {
  .detailImageContainer .card {
    width: 21vw !important ;
    left: 3.3% !important;
  }
  .layout-desktop .infoWrapper {
    margin-left: 24.3vw !important;
  }
}
@media (min-aspect-ratio: 2.7/1) {
  .detailImageContainer .card {
    width: 16vw !important;
    left: 3.3% !important;
  }
  .layout-desktop .infoWrapper {
    margin-left: 19.3vw !important;
  }
}
